/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #f8a61d;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8a61d;
  box-shadow: 0 0 20px 25px #f8a61d;
  justify-content: space-around


}

header img {
  width: 90px;
  height: 90px;
  /* margin-left: 50px; */
}

/* Menu de navegação (desktop) */
.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav ul {
  list-style: none;
  display: flex;
}

.desktop-nav ul li {
  margin: 0 15px;
}

.desktop-nav ul li a {
  color: #010101;
  text-decoration: none;
}

.desktop-nav .btn-contato {
  background-color: #000000;
  color: #f8a61d;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Ícone do menu hambúrguer (mobile) */
.menu-icon {
  display: none; /* Escondido por padrão */
  font-size: 24px;
  cursor: pointer;
  color: #010101;
}

/* Menu lateral (mobile) */
.menu-lateral {
  position: fixed;
  top: 0;
  right: 100%;
  width: 250px;
  height: 100%;
  background-color: #000000;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menu-lateral.active {
  right: 0;
}

.menu-lateral-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f8a61d;
}

.menu-lateral-header img {
  width: 50px;
  height: 50px;
}

.menu-lateral-header .close-icon {
  font-size: 24px;
  cursor: pointer;
  color: #f8a61d;
}

.menu-lateral nav ul {
  list-style: none;
  padding: 20px;
}

.menu-lateral nav ul li {
  margin: 15px 0;
}

.menu-lateral nav ul li a {
  color: #f8a61d;
  text-decoration: none;
  font-size: 18px;
}

/* Media Queries para mobile */
@media (max-width: 768px) {
  /* Esconde o menu de navegação desktop */
  .desktop-nav {
    display: none;
  }

  /* Exibe o ícone do menu hambúrguer */
  .menu-icon {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f8a61d;
    box-shadow: 0 0 20px 25px #f8a61d;
    justify-content: space-between;
    margin-left: 10px;
  }
 
}

/* Estilos do Carrossel */
.carrossel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel .slide {
  min-width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carrossel .slide.active {
  opacity: 1;
}

.carrossel img {
  display: block; /* Garante que a imagem se comporte como bloco */
  margin: 0 auto; /* Centraliza horizontalmente */
  width: auto;
  height: auto;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.carrossel img:hover {
  transform: scale(1.05);
  border-radius: 10px 10px 0 0;
}

.carrossel .descricao {
  padding: 20px;
  background-color: #000000;
  border-radius: 0 0 10px 10px;
}

.carrossel .descricao h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.carrossel .descricao p {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}


.carrossel .btn-saiba-mais {
  background-color: #f8a61d;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.carrossel .btn-saiba-mais:hover {
  background-color: #e6b800;
}

.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f8a61d;
  color: #000000;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.carrossel-btn.anterior {
  left: 10px;
}

.carrossel-btn.proximo {
  right: 10px;
}

.carrossel-btn:hover {
  background-color: #f8a61d;
}

/* Estilos da Seção de Formas de Pagamento */
.formas-pagamento {
  background-color: #000000;
  color: #f8a61d;
  padding: 50px 20px;
  text-align: center;
}

.formas-pagamento h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.pagamentos-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.pagamento-item {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.pagamento-item h3 {
  font-size: 20px;
  color: #f8a61d;
  margin-bottom: 10px;
}

.pagamento-item p {
  font-size: 16px;
  color: #f8a61d;
  margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .formas-pagamento h2 {
      font-size: 28px;
  }

  .pagamento-item h3 {
      font-size: 18px;
  }

  .pagamento-item p {
      font-size: 14px;
  }
}

.depoimentos {
  background-color: #000000;
  color: #f8a61d;
  padding: 50px 20px;
  text-align: center;
}

.depoimentos h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.carrossel-depoimentos {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.depoimento {
  display: none;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.depoimento.ativo {
  display: block;
}

.cliente-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cliente-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.cliente-info h3 {
  font-size: 18px;
  color: #f8a61d;
  margin: 0;
}

.depoimento-texto {
  text-align: justify;
  margin-bottom: 15px;
}

.depoimento-texto p {
  font-size: 16px;
  color: #f8a61d;
  margin: 0;
}

.depoimento-acoes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navegacao {
  display: flex;
  gap: 10px;
}

.navegacao button {
  background-color: #f8a61d;
  color: #000000;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.btn-curtir {
  background-color: #f8a61d;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}


.contato img{
 width: 50px;
  height: 50px
}

/* Ícone flutuante do WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-float:hover {
  background-color: #128c7e;
  transform: scale(1.1);
}

.historia  {
  text-align: center;
  padding: 30px 15px 30px 15px;
}
.contato  {
  text-align: center;
  padding-top: 30px;
}
.contato img {
 width: 50px;
  height: 50px
}

/* Estilos do Rodapé */
.rodape {
  background-color: #000000;
  color: #f8a61d;
  padding: 40px 20px;
  border-top: 1px solid #f8a61d;
}

.rodape .container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.rodape .coluna {
  flex: 1;
  min-width: 250px;
  margin: 10px 20px;
}

.rodape h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f8a61d;
  text-align: center;
}

.rodape p, .rodape ul {
  font-size: 14px;
  line-height: 1.6;
  color: #f8a61d;
}

.rodape ul {
  list-style: none;
  padding: 0;
}

.rodape ul li {
  margin-bottom: 10px;
}

.rodape ul li a {
  color: #f8a61d;
  text-decoration: none;
}

.rodape ul li a:hover {
  text-decoration: underline;
}

.rodape .redes-sociais {
  display: flex;
  gap: 10px;
}

.rodape .redes-sociais img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.rodape .redes-sociais img:hover {
  transform: scale(1.2);
}

.rodape p {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
/* Estilos da Seção "Como Funciona" */
.como-funciona {
  background-color: #000000;
  color: #f8a61d;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  overflow: hidden; /* Para esconder o overflow dos gradientes */
}

.como-funciona h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.como-funciona p {
  font-size: 18px;
  margin-bottom: 40px;
}

.etapas {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.etapa {
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
 /* text-align: center;*/
  margin-bottom: 40px; 
  position: relative;
  z-index: 1; /* Para garantir que as etapas fiquem acima dos gradientes */
}
.etapa-esquerda {
  align-self: flex-start;
}

.etapa-direita {
  align-self: flex-end;

}

.etapa .numero {
  font-size: 24px;
  font-weight: bold;
  color: #f8a61d;
  margin-bottom: 15px;
}

.etapa .conteudo {
  padding: 10px 40px 10px 40px;
  text-align: center;
}

.etapa h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #f8a61d;
}

.etapa p {
  font-size: 16px;
  color: #f8a61d;
  margin-bottom: 0;
}


/* Gradiente de fade à esquerda */
.etapa-esquerda::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 0; 
}

/* Gradiente de fade à direita */
.etapa-direita::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 0;
}


/* Media Queries para mobile */
@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    font-size: 24px;
    bottom: 15px;
    right: 15px;
  }

  .carrossel img{
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .etapa {
    width: 100%;
    align-self: center !important;
  }
  .como-funciona::before,
  .como-funciona::after {
      display: none; 
  }
  .pagamentos-lista {
    gap: 15px;
}

.pagamento-item {
    width: 100%;
    padding: 15px;
}

.pagamento-item img {
    width: 30px;
    height: 30px;
}

.pagamento-item span {
    font-size: 14px;
}
}
  .depoimento {
      padding: 15px;
  }

  .cliente-info img {
      width: 40px;
      height: 40px;
  }

  .cliente-info h3 {
      font-size: 16px;
  }

  .depoimento-texto p {
      font-size: 14px;
  }

  .navegacao button,
  .btn-curtir {
      padding: 8px 15px;
      font-size: 14px;
  }
  .depoimento {
    padding: 15px;
  }

  .cliente-info img {
    width: 40px;
    height: 40px;
  }

  .cliente-info h3 {
    font-size: 16px;
  }

  .depoimento-texto p {
    font-size: 14px;
  }

  .navegacao button,
  .btn-curtir {
    padding: 8px 15px;
    font-size: 14px;
  }
  .carrossel-btn.anterior {
    display: none;
  }
  .carrossel-btn.proximo{
    display: none;
  }

@media (max-width: 480px) {
  .whatsapp-float {
    width: 40px;
    height: 40px;
    font-size: 20px;
    bottom: 10px;
    right: 10px;
  }
}
/* Estilos da Seção de Produtos */
.produtos {
  padding: 50px 20px;
  text-align: center;
  background-color: #000000;
}

.produtos h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #FFD700;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.produto {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.produto h3 {
  font-size: 24px;
  margin: 15px 0;
  color: #FFD700;
}

.produto p {
  font-size: 16px;
  color: #FFF;
  margin-bottom: 15px;
}

.produto .btn-saiba-mais {
  background-color: #FFD700;
  color: #000000;
  padding: 10px 13px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.produto .btn-saiba-mais:hover {
  background-color: #e6b800;
}
  /* Media Queries para Responsividade */
  @media (max-width: 768px) {
    .grid-produtos {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    }
  }
  
  @media (max-width: 480px) {
    .grid-produtos {
      grid-template-columns: repeat(2, 1fr); /* 1 coluna em celulares */
    }
  }
